/* src/components/Background.css */

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: silver;
    background-image: url('../assets/BackgroundInterests.png');
    background-size: contain; /* Ensures the image covers the entire background */
    background-repeat: 2;
    z-index: -1; /* Puts the background behind other content */
    opacity: 0.5; /* Optional: Adjust opacity if you want a faded effect */
  }
  
  