
.panel-one-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 65vw;
    overflow: hidden;
  }
  
  .content-row-one {
    display: flex;
    align-items: center;
    max-width: 90%;
    width: 65%;
    padding: 20px; /* Increased padding for more spacing */
  }
  
  .col-left-one {
    flex: 0 0 300px; /* Fixed pixel width for the left column */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
  
  .col-right-one {
    flex-grow: 1; /* Allows the right column to grow */
  }
  
  .BabyPic {
    width: 100%; /* Ensures image fills col-left width */
    max-width: 100%; /* Remove the pixel max-width to allow full column use */
    height: auto;
    margin-bottom: 15px;
    border: 2px solid #333;
    border-radius: 10px;
  }

  .info-text-one {
    font-size: 1.5rem;
  }
  
  .subtitle {
    text-align: center;
    font-size: 1rem; /* Larger font size for subtitle */
    color: #666;
  }
  
  @media screen and (max-width: 1260px) {
    .panel-one-content {
      width: 100vw !important;
      height: 100vh !important;
    }

    .content-row-one {
      width: 100vw !important;
      padding: 0 !important;
    }

    .info-text-one {
      font-size: 1rem !important;
    }

    .col-left-one {
      flex: 0 0 160px !important;    
    }
  }
  

  
  